#globalnav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    height: 48px;
    font-family: "SF Display", sans-serif;
    max-height: 44px;
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px)
}

#globalnav .gn-list {
    cursor: default;
    margin: 0 -10px;
    padding: 0;
    width: auto;
    height: 44px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#globalnav .gn-list:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
#globalnav .gn-item {
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top
}

#globalnav.ie7 .gn-item {
    display: inline;
    zoom: 1
}

@media only screen and (max-width: 767px) {
    #globalnav .gn-item {
     
        height: 48px
    }
}

#globalnav .gn-link {
    font-size: 16px;
    line-height: 2.75;
    font-weight: 300;
    letter-spacing: normal;
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
    filter: alpha(opacity=100);
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-tap-highlight-color: transparent;
    outline-offset: -7px
}

@media only screen and (max-width: 767px) {
    #globalnav .gn-link {
        font-size: 20px;
        line-height: 2.35;
        font-weight: 300;
        letter-spacing: normal
    }
}

@media only screen and (max-width: 767px) {
    #globalnav .gn-link {
        height: 48px
    }
}

#globalnav .gn-link:hover {
    opacity: .65;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
    filter: alpha(opacity=65)
}

#globalnav.no-js .gn-link:hover {
    opacity: .65;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
    filter: alpha(opacity=65)
}

#globalnav.no-touch .gn-link:hover {
    opacity: .65;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
    filter: alpha(opacity=65)
}



